

#bluebox {
  height: 200px;
  width:  300px;
  background-color: blue;
  position: relative;
  z-index: 4;
  margin:auto;
  }

#greenbox {
  height: 100px;
  width:  200px;
  background-color: green;
  position: relative;
  z-index: 1;
  margin:auto;
  margin-left: 550px;
    }

#redbox {
  height: 100px;
  width:  50px;
  background-color: red;
  position: relative;
  z-index: 2;
  margin:auto;
}

#greybox {
  height: 100px;
  width:  25px;
  background-color: grey;
  position: relative;
  z-index: 4;
  margin:auto;
  }
