/*
Colorblind safe palette from colorbrewer2.org.
#e66101 - Orange
#fdb863 - Light Orange
#f7f7f7 - White
#b2abd2 - Light Purple
#5e3c99 - Purple
*/
#header {
  background-color: #b2abd2
}
h1 {
  color: #f7f7f7;
  padding: 5px;
  margin: 0px;
}

#body-container {
  background-color: #f7f7f7;
  max-width: 1000px;
  margin: auto;
  height: 100vh;
  border: 2px solid #f7f7f7;
  border-radius: 25px;
  overflow: hidden;
  }

body {
  background-color: #b2abd2;
  color: #5e3c99;
  text-align: center;
  margin: 0;
}

#profile-picture {
  float: left;
}

#welcome-text {
  padding-top: 25px;
  font-size: 25px;
}

#research-interests {
  text-align: left;
  font-size: 25px;
  position: relative;
  left: 50px;
}

#footer {
  text-align: center;
  font-size: 15px;
}
