
#bluebox {
  height: 300px;
  width:  100%;
  background-color: blue;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  }

#greenbox {
  height: 430px;
  width:  100%;
  background-color: lightgreen;
  position: relative;
  z-index: 3;
  margin: 0 auto;
  }

#redbox {
  height: 400px;
  width:  500px;
  position: fixed;
  background-color: red;
  z-index: 2;
  top: 50%;
  left: 40%;
  margin-top: -169px;
  margin-left: -100px;
  }

#greybox {
  height: 430px;
  width:  300px;
  background-color: lightgrey;
  position: fixed;
  z-index: 4;
  top: 50%;
  margin-top: -69px;
  left: 0.5%
  }
